@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply box-border;
    }

    html,
    body {
        @apply m-0 p-0;
        font-family: "Inter";
    }

    a {
        color: inherit;
        @apply no-underline;
    }
}

@layer components {
    .post {
        flex: 1 1 33.333333%;
        min-height: 220px;
        max-width: 33.333333%;
    }

    @media (max-width: 767px) {
        .post {
            flex: 1 1 100%;
            min-height: 220px;
            max-width: 100%;
        }
    }
}
